<div>
  <img src="http://placehold.it/820x230">
  <div>
    <h3 class="pull-right">{{product?.price}}</h3>
    <h4>{{product?.title}}</h4>
    <p>{{product?.desc}}</p>
  </div>
  <div>
    <p class="pull-right">{{comments?.length}}</p>
    <p>
      <app-stars [rating]="product?.rating"></app-stars>
    </p>
  </div>
</div>
<div style="margin: 10px 0;">
  <button class="btn btn-dark btn-lg" [class.active]="isWatched" (click)="watchProcuct()">
    {{isWatched ? "取消关注" : "关注"}}
  </button>
  <label>最新出价{{currentBid | number:'.2-2'}}元</label>
</div>
<div>
  <div>
    <div>
      <button class="btn btn-info" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
    </div>
    <div [hidden]="isCommentHidden">
      <app-stars [readonly]="false" [(rating)]="newRating"></app-stars>
      <div>
        <textarea [(ngModel)]="newComment"></textarea>
      </div>
      <div >
        <button class="btn" (click)="addComment()">提交</button>
      </div>
    </div>
    </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let comment of comments">
      <div>
        <app-stars [rating]="comment.rating"></app-stars>
        <span>{{comment.user}}</span>
        <span class="pull-right">{{comment.timestamp}}</span>
        <p></p>
        <p>{{comment.content}}</p>
      </div>
    </li>
  </ul>
</div>
